@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 12px;
    background: #000;
}
::-webkit-scrollbar-thumb{
    background: #a16a38;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: #719274;
}

body {
    list-style: none;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    color: #e3e3e3;
    background: linear-gradient(to bottom, #000000, #1b1d1d);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    /* position: relative; */
    background:
        linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 1)),
        url('../img/bg.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

/* .header::after{
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 80px;
    background-image: url(../img/white-grunge.svg);
    background-position: top 2px center;
    background-repeat: repeat-x;
    background-size: 900px;
} */
.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    font-size: 24px;
    line-height: 28px;
}

.curl {
    width: 50px;
}

.curl-left {
    margin-right: 80px;
}

.curl-right {
    margin-left: 80px;
}

.menu {
    opacity: 1;
}

.menu-link {
    text-decoration: none;
    font-family: 'Gabriela', serif;
    color: #e7e7e6;
    opacity: 0.9;
    padding: 16px 24px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2.5px;
    text-decoration: none;
    display: inline-block;
}

.menu-link:hover {
    opacity: 1;
    color: #e7e7e6;
}

.menu-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #719274;
    transition: width .3s;
}

.menu-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.menu-logo {
    width: 150px;
    margin-right: 90px;
    margin-left: 90px;
    opacity: 0.8;
}

.menu-logo:hover {
    opacity: 1;
}

/* About */
.header-container {
    max-width: 800px;
    padding-top: 55px;
    margin: auto;
    text-align: center;
}

.header-container-title {
    font-size: 70px;
    font-family: 'Montez', cursive;
    color: #a16a38;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

.header-container-subtitle {
    font-size: 80px;
    font-family: 'Gabriela', serif;
    color: #719274;
    margin-bottom: 40px;
    letter-spacing: 9px;
    margin-bottom: 30px;
}

.header-container-text {
    color: #e2e1df;
    line-height: 36px;
    font-size: 20px;
}

.header-container-button {
    height: 65px;
    width: 325px;
    margin-top: 24px;
    background-image: url(../img/5d2f340d44c1f97b25821e30_Dark\ Button.svg);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    color: #d9d8d6;
    line-height: 49px;
    letter-spacing: 1px;
}

.button {
    display: inline-block;
    padding: 25px 15px;
    background-color: #3898EC;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.header-container-button {
    opacity: 0.7;
    margin-bottom: 60px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    background-size: contain;
}

.header-container-button:hover {
    opacity: 1;
    color: #d9d8d6;
}

/* About Us  */
.about {
    padding: 120px 0 50px 0;
}

.about-us-images {
    display: flex;
}

.about-us-img-left,
.about-us-img-right {
    opacity: 0.5;
    border-radius: 10px;
}

.about-us-img-right:hover,
.about-us-img-left:hover {
    opacity: 1;
    transition: all 0.7s;
}

.about-us-img-right {
    position: relative;
    top: 50px;
    left: 40px;
}

.opening-hour {
    max-width: 200px;
    position: relative;
    top: -230px;
    left: 185px;
    z-index: 30;
    background: #719274;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
}

.opening-hour h3,
p {
    color: #e2e1df;
}

.opening-hour p {
    line-height: 25px;
}

.opening-hour h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.clock {
    height: 40px;
}
.about-us-info{
    text-align: center;
}
.about-us-title span {
    color: #a16a38;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    position: relative;
    top: -130px;
    letter-spacing: 2px;
}

.about-us-title h3 {
    color: #719274;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 27px;
    position: relative;
    top: -120px;
    letter-spacing: 1.5px;
}

.about-us-info p {
    line-height: 34px;
    margin-top: -60px;
    letter-spacing: 0.9px;
}
.about-video{
    padding-bottom: 100px;
}
.about-video video{
    border-radius: 10px;
    display: block; 
    margin: auto;
    opacity: 0.9;
}
/* Services */
#services{
    padding-bottom: 90px;
}
.services-title{
    text-align: center;
    margin-bottom: 50px;
}
.services-title span{
    color: #a16a38;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2px;
}
.services-title h3{
    color: #719274;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 1.5px;
    margin-top: 8px;
    margin-bottom: 40px;
}
.services-title p{
    line-height: 31px;
    letter-spacing: 0.9px;
    font-size: 18px;
    max-width: 900px;
    margin: auto;
}
.services-list{
    display: flex;
    flex-wrap: wrap;
}
.price{
    text-align: center;
    width: 200px;
    margin: auto;
    padding: 25px 0;
}
.price h2{
    font-family: 'Montez', cursive;
    font-size: 65px;
    color: #a16a38;
}
.price h2 span{
    color: #719274;
    font-size: 60px;
    margin-right: 10px;
}
.price h3{
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: 'Gabriela', serif;
}
.price p{
    font-size: 30px;
}
.gallery{
    margin-top: 70px;
    margin-bottom: 50px;
}

.slick-slide img {
    display: block;
    width: 97%;
    border-radius: 10px;
}
.gallery-title{
    margin-top: 70px;
}
/* Contact  */
.contact-title{
    text-align: center;
}
.contact-info{
    display: flex;
    justify-content: center;

}
.location{
    margin-right: 150px;
}
.location p{
    line-height: 28px;
    margin-bottom: 15px;
    opacity: 0.9;
    font-family: 'Gabriela', serif;
}
.phone{
    color: #e3e3e3;
    text-decoration: none;
    font-family: 'Gabriela', serif;
}
.phone:hover{
    color: #a16a38;
}
.social{
    margin-top: 20px;
}
.social a{
    text-decoration: none;
    color: #719274;
    padding: 0px 10px 10px 0px;
    line-height: 35px;
    font-family: 'Gabriela', serif;

}
.social a:hover{
    color: #a16a38;
}
.timetable p{
    padding-bottom: 10px;
    letter-spacing: 2px;
    opacity: 0.9;
    font-family: 'Gabriela', serif;
}
.contact-blocks{
    margin-bottom: 100px;
}
iframe{
    width: 100%;
    height: 300px;
    margin-top: 80px;
    opacity: 0.5;
}
iframe:hover{
    opacity: 0.7;
}
/* Footer  */
.footer{
    padding: 0px 0 20px 0;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-left{
    display: flex;
    align-items: center;
}
.footer-right{
    display: flex;
}
.footer-right p{
    font-size: 15px;
    line-height: 21px;
    opacity: 0.7;
}
.footer-right a{
    color: #a16a38;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s;
}
.footer-right a:hover{
    font-size: 22px;
}
.footer-logo{
    margin-right: 20px;
}
.footer-text p{
    font-size: 14px;
    opacity: 0.7;
    line-height: 21px;
}
/* Media Query */
@media (max-width: 1200px) {
    .about-us-title span {
        top: 0;
    }

    .about-us-title h3 {
        top: 15px;
    }

    .about-us-info p {
        margin-top: 35px;
    }
}

@media (max-width: 1145px) {
    .menu-logo {
        width: 130px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .curl-left {
        margin-right: 30px;
    }

    .curl-right {
        margin-left: 30px;
    }
}

@media (max-width: 942px) {
    .menu-logo {
        width: 100px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .curl-left {
        margin-right: 15px;
    }

    .curl-right {
        margin-left: 15px;
    }

    .header-container-subtitle {
        font-size: 60px;
    }
    .about-video video{
        width: 95%;
    }
    .footer-container,
    .footer-left,
    .footer-right{
        display: block;
        text-align: center;
    }
    .footer-text p {
    margin-bottom: 15px;
    }
}

@media (max-width: 768px) {

    .curl-left,
    .curl-right {
        display: none;
    }

    .header-container-text {
        font-size: 18px;
    }

    .about {
        padding: 80px 0;
    }
    .price{
        width: 190px;
    }
}

@media (max-width: 610px) {
    .opening-hour {
        display: none;
    }

    .about-us-img-left,
    .about-us-img-right {
        width: 45%;
    }

    .about-pic {
        margin-bottom: 90px;
    }

    .about-us-img-right {
        left: 22px;
    }

}

@media (max-width: 689px) {
    .header-container-title {
        font-size: 55px;
    }

    .header-container-subtitle {
        font-size: 50px;
    }

    .header-container-text {
        font-size: 17px;
        max-width: 440px;
        margin: auto;
    }

    .header-container-text {
        line-height: 30px;
    }
}

@media (max-width: 425px) {
    .header-container-title {
        margin-bottom: 15px;
    }

    .header-container-subtitle {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .menu {
        display: none;
    }

    .curl-left,
    .curl-right {
        display: block;
    }
    .price{
        width: 135px;
        padding: 12px 0;
    }
    .price h2{
        font-size: 60px;
    }
    .price h3{
        font-size: 19px;
    }
    .contact-info{
        display: block;
    }
    .social{
        margin-bottom: 20px;
    }
   
    #services {
        padding-bottom: 40px;
    }
    .contact-title{
        margin-bottom: 65px;
    }
}

@media (max-width: 375px) {
    .header-container {
        padding-top: 30px;
    }

    .header-container-subtitle {
        font-size: 35px;
        margin-bottom: 17px;
        letter-spacing: 5px;
    }

    .header-container-text {
        font-size: 16px;
    }

    .header-container-button {
        font-size: 13px;
    }

    .header-container-button {
        height: 61px;
        width: 270px;
    }

    .about-us-info p {
        line-height: 29px;
    }
    
}